# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Auto Update Packages'
      'submenu': [
        { 'label': 'Update Now', 'command': 'auto-update-packages:update-now' }
      ]
    ]
  }
]
